.search-bar {
    margin-left:auto ;
    margin-right:auto ;
    margin-top: 110px;
    margin-bottom:20px;
    width: 100%; /* Set the width to 100% */
    position: relative; /* Ensure the search results are positioned correctly */
}

.search-bar input {
    width: 100%; /* Adjust width to consider padding */
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
}
.search-bar {
    margin-bottom: 20px;
    width: 100%;
}

.search-bar .form-control,
.search-bar .form-select {
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
}

.table-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    margin-bottom: 0;
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 0;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.table thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}
.filter-block {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Khoảng cách giữa các trường */
}

.filter-block label {
    font-weight: bold;
}

.filter-block .form-control {
    width: 50%; /* Đảm bảo rằng các trường nhập liệu và select chiếm toàn bộ chiều rộng của block */
}

.filter-block .form-group {
    margin-bottom: 15px; /* Khoảng cách dưới của mỗi form group */
}
.FormContainer {
    display: flex;
    justify-content: space-between; /* Các div sẽ được căn chỉnh cách đều nhau trên hàng */
}
.CustomerPhone
{
    flex: 1; /* Đảm bảo rằng mỗi div sẽ chiếm đủ không gian trên hàng */
    margin-right: 10px; /* Khoảng cách giữa các div */
}
